* {
	padding: 0;
	margin: 0;
	border: 0;
}

img {
	
}

body {
	background-image:  url("images/god.jpg");
	background-attachment: fixed;
	background-size: 100% auto;
	background-color: rgba(0, 98, 179, 1);
}

.imgshape {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px;
	border: 2px solid #b79c7d;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#header1 {
	font: normal;
	font-style: italic;
	color: olive;
	text-align: center;
}

#aligndivs {
	text-align: center;
}

#headProfileContent {
	width: 100%;
	height: 185px;
	margin-left: 25%;
	margin-right: auto;
	margin-top: 35px;
	text-align: center;
	overflow: hidden;
}

#closebtn {
	 margin: 0 0 0 410px;
    padding: 0;
    position: absolute;
    text-align: center;
}

#edit {
	height: 50px;
    padding: 168px 487px 0;
    width: 50px;
    display: none;
}
#editable{
	width:320px;
	height:200px;
}
#profileContent {
	text-align: center;
	padding: 200px 0 0;
	margin: 10px;
}

#infodetails {
	text-align: center;
	margin-top: 10px;
	font-family: cursive;
	font-size: larger;
}

#memInfo {
	
}

#alignpos {
	text-align: :center;
}

#profiles {
	display: inline-flex;
	flex-flow: row nowrap;
	height: 65%;
	justify-content: space-between;
	/* margin-left: 30px;*/
	margin-top: 0;
	text-align: center;
	width: 100%;
}

#editprofile {
	background-color: #aaaaaa;
	border: 1px double #c4c4c4;
	height: 250px;
	left: 558px;
	opacity: 0.95;
	padding-left: 10px;
	position: absolute;
	text-align: left;
	top: 220px;
	width: 500px;
	z-index: 2;
	display: none;
}

.blended_grid {
	display: block;
	width: 1024px;
	/*overflow: auto;*/
	margin: 30px auto 0 auto;
}

.pageHeader {
	background-color: rgba(5, 85, 53, 0.90);
	float: left;
	clear: none;
	height: 127px;
	width: 100%;
}

#imagelocdiv {
	padding: 35px;
	float: left;
}

#imageloc {
	text-align: center;
}

.pageLeftMenu {
	background-color: rgba(169, 134, 109, 0.90);
	float: left;
	clear: none;
	height: 600px;
	width: 15%;
}

.pageContent {
	background-color: #a0a0a0;
	float: left;
	clear: none;
	height: 600px;
	width: 85%;
	opacity: 0.97;
}
#addchld{
	text-align: center;
}
#subdiv {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
	margin-left: 0%;
	width: 25%;
}

#subdiv2 {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
	margin-left: 0%;
	width: 30%;
	margin-top: 80px;
}

.pageFooter {
	background-color: rgba(58, 94, 72, 1.00);
	float: left;
	clear: none;
	height: 100px;
	width: 100%;
}

#imgpos {
	text-align: center;
}
.myButton {
	-moz-box-shadow: 0px 0px 18px -1px #91b8b3;
	-webkit-box-shadow: 0px 0px 18px -1px #91b8b3;
	box-shadow: 0px 0px 18px -1px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:5px 6px;
	text-decoration:none;
	text-shadow:0px 2px 10px #2b665e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
